@use '../../../../styles'

:host 
	vertical-align: middle
	border-radius: styles.$rounding-standard

.tag-list
	margin-top: .2em

.single-tag
	background-color: styles.$bg-color-menu1
	color: styles.$fg-color-menu-text
	padding: .2em
	margin: .2em
	cursor: default
	border-radius: styles.$rounding-standard
	font-size: 12px

.single-tag button
	@extend %btn-common

.menu-container-base, %menu-container-base
	font-size: styles.$data-font-size
	max-width: 200px
	border-width: styles.$input-border-width
	position: relative

.menu-container-closed
	@extend %menu-container-base

.menu-container-open
	@extend %menu-container-base
	
	
	&:focus
		outline-style: none

.option-menu
	background-color: styles.$bg-color-content 
	box-shadow: -1px 3px 8px 0px black
	border-radius: styles.$rounding-standard
	position: absolute
	top: -.5em
	left: .08em
	padding: .1em 0
	z-index: 1
	min-width: 200px


.menu-container-disabled
	color: styles.$fg-color-disabled-text

	&:focus
		outline-style: none


.select-open-icon
	float: right

.closed-select-default
	color: #787878
	
.closed-select-default.select-picked-value
	color: #000


.ng-invalid.ng-touched:host .closed-select-default
	color: red

:host
	display: inline-block
	border-radius: styles.$rounding-standard
	border-width: styles.$input-border-width
	border-style: solid
	border-color: #767676
	padding: 2px 0