<!-- I made this a div because I feel weird about having a div inside a span
-->
<div [class]="containerClass" 
	[tabindex]="tabNum" 
	role="listbox"
	(focus)="onFocus()"
	[id]="topId"
>
<app-tag-list *ngIf="showTagList()" 
	[value]="selectedItems"
	(onRemoved)="onTagXClicked($event)"
>
</app-tag-list>
	<span 
		#custom 
		class="closed-select-default" 
		[ngStyle]="customStyle"
	>
		<ng-container>
			<ng-content *ngIf="!showTagList()"></ng-content>
		</ng-container>
	</span>
	<span 
		*ngIf="!showTagList() && (custom.childNodes | elementFilter).length === 0" 
		class="closed-select-default {{hasSelectedValue() && select-picked-value}}"
		[ngStyle]="customStyle"
	>
		{{getSingularDisplayValue()}}
	</span>
	<ds-hide-icon 
		[hidden]="isOpen || isDisabled || options?.length < 1"
		[strokeColor]="hasError ? 'red' : 'black'" 
		width=".8em" 
		height=".8em"
		class="select-open-icon"
	>
	</ds-hide-icon>
	<!-- the tabindex="-1" is needed so that it can be focused on-->
	<div 
		[hidden]="!isOpen" 
		class="option-menu" 
		(focusout)="onFocusOut()"
		tabindex="-1" 
		#optionsParent
	>
		<ng-content select="app-select-option"></ng-content>
	</div>
</div>