<div [class]="containerClass" 
	[tabindex]="tabNum" 
	role="listbox"
	(focus)="onFocus()"
	(focusout)="onFocusOut()"
>
<app-tag-list *ngIf="showSelectedList()" 
	[value]="selectedItems"
	(onRemoved)="onTagXClicked($event)"
>
</app-tag-list>
	<span *ngIf="!showSelectedList() && !isOpen">
		{{getSingularDisplayValue()}}
	</span>
	<ds-hide-icon 
		[hidden]="isOpen || isDisabled || options?.length < 1"
		strokeColor="black" 
		width=".8em" 
		height=".8em"
	>
	</ds-hide-icon>
	<div *ngIf="isOpen" class="option-menu">
		<app-select-option
			*ngFor="let option of options; index as idx" 
			[option]="option"
			name="option-{{controlName}}-{{idx}}"
			[selected]="isOptionChecked(option)"
			[multiple]="allowMultiSelect"
			(click)="onChecked(option)"		
		>
		</app-select-option>
	</div>
</div>