<!-- in case you're wondering if this should be a span. Atm, 
	this div's css is set to inline-block
-->
<div [class]="containerClass" 
	[tabindex]="tabNum" 
	role="listbox"
	(focus)="onFocus()"
	(focusout)="onFocusOut()"
	[id]="topId"
>
<app-tag-list *ngIf="showTagList()" 
	[value]="selectedItems"
	(onRemoved)="onTagXClicked($event)"
>
</app-tag-list>
	<span *ngIf="!showTagList()" class="select-picked-value">
		{{getSingularDisplayValue()}}
	</span>
	<ds-hide-icon 
		[hidden]="isOpen || isDisabled || options?.length < 1"
		[strokeColor]="hasError ? 'red' : 'black'" 
		width=".8em" 
		height=".8em"
		class="select-open-icon"
	>
	</ds-hide-icon>
	<div [hidden]="!isOpen" class="option-menu">
		<ng-content select="app-select-option"></ng-content>
	</div>
</div>