<div *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
	<div>
			<div>
				<label for="firstName">First Name:</label>
				<input 
					name="firstName"
					placeholder="First Name:"
					[(ngModel)]="data.firstName"
					type="text"
				/>
			</div>
			<div>
				<label for="lastName">Last Name:</label>
				<input 
					name="lastName"
					placeholder="Last Name:"
					[(ngModel)]="data.lastName"
					type="text"
				/>
			</div>
			<div>
				<label for="schoolId">School:</label>
				<app-select
					name="schoolId"
					[(ngModel)]="data.schoolId"
				>
					<app-select-option>Select...</app-select-option>
					<app-select-option
						*ngFor="let school of schoolChoices" 
						[value]="school.id"
					>
						{{school.name}}
					</app-select-option>
				</app-select>
			</div>
	</div>
	<div>
		<button class="add-btn" (click)="onCancel()">Cancel</button>
		<button class="add-btn" [mat-dialog-close]="data">Add Person</button>
	</div>
</div>

