@use '../../styles'

.menu-base
	box-shadow: 7px 1px 5px -4px rgb(0, 0, 0, .3)
	height: 100%
	background: inherit
	width: 200px
	float: left
	position: static

ul
	list-style: none
	padding-left: 30px
	width: 100%
	overflow: hidden
	white-space: nowrap

li
	margin-bottom: .7em

a
	color: styles.$fg-color-menu-text
	display: block
	text-decoration: none
	font-variant-caps: all-small-caps
	font-size: 1.2em
	letter-spacing: .05em
	overflow: hidden
	text-overflow: ellipsis

	&:visted
		color: styles.$fg-color-menu-text
			
@media(max-width: styles.$breakpoint-small)
	.menu-base
		width: 50%
		float: none
		position: absolute