<div class="menu-base" [style]="currentStyles">
	<ul>
		<li 
			class="main-menu-item"
			*ngFor="let path of routeDescriptions">
				<a href="/{{path.path}}">
					{{path.display}}
				</a>
			</li>
	</ul>
</div>
