@use '../../styles'

$width-menu-base: 200px
$padding-left-ul: 30px

.menu-base
	border-bottom-right-radius: styles.$rounding-standard
	box-shadow: 7px 1px 5px -4px rgb(0, 0, 0, .3)
	min-height: 80%
	background: inherit
	width: $width-menu-base
	float: left
	position: static

ul
	list-style: none
	padding-left: $padding-left-ul
	overflow: hidden
	white-space: nowrap

li
	margin-bottom: .7em

a
	color: styles.$fg-color-menu-text
	display: block
	text-decoration: none
	font-variant-caps: all-small-caps
	font-size: 1.2em
	letter-spacing: .05em
	overflow: hidden
	text-overflow: ellipsis

	&:visted
		color: styles.$fg-color-menu-text
			
@media(max-width: styles.$breakpoint-small)
	.menu-base
		width: 50%
		float: none
		position: absolute
		z-index: 2

@media(max-width: styles.$breakpoint-xsmall)
	.menu-base
		width: 70%

