<p *ngIf="categories?.length < 1">
	No dance categories have been added. Please add some.
</p>
<form 
	*ngIf="categories?.length > 0"
	#danceForm="ngForm" 
	(ngSubmit)="onSubmit(danceForm.form)" 
	dsAgeRangeValidator
	autocomplete="off"
>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Short Name</th>
				<th>Category</th>
				<th *ngIf="dances?.length > 0">Linked Dances</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let dance of dances">
				<td>
					<ds-up-down (reorderClick)="reorderClick($event)" 
						[associatedItem]="dance"
						[size]="dances.length"
					>
					</ds-up-down>
				</td>
				<td>{{dance.name}}</td>
				<td>{{dance.shortName || dance.name}}</td>
				<td>{{dance?.category?.name}}</td>
				<td *ngIf="dances.length > 0">
					<app-tag-list 
						readonly="true"
						[value]="dance.linkedDances"
					>
					</app-tag-list>
				</td>
				<td><button (click)="onRowRemoveClick(dance)" 
					type="button" 
					class="add-row-btn">-</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td>
					<label for="name">Name</label>
					<input 
						name="name" 
						ngModel 
						type="text" 
						class="age-group-width"
						#name="ngModel"
						required
					/>
					<div 
						*ngIf="!(name.valid || name.untouched)" 
						class="input-error-label"
					>
						Name is required
					</div>
				</td>
				<td>
					<label for="shortName">Short Name</label>
					<input 
						name="shortName" 
						ngModel 
						type="text" 
						class="age-group-width"
					/>
				</td>
				<td>
					<label for="name">Category</label>
					<app-select
						name="category"
						ngModel
						required
						#category="ngModel"
					>
						<app-select-option test="empty">Select...</app-select-option>
						<app-select-option
							*ngFor="let category of categories" 
							[value]="category"
							[test]="category.name"
						>
							{{category.name}}
						</app-select-option>
					</app-select>
					<div 
						*ngIf="!(category.valid || category.untouched)" 
						class="input-error-label"
					>
						Category is required
					</div>
				</td>
				<td *ngIf="dances?.length > 0">
					<!-- <app-select
						multiple="true"
						name="linkedDances"
					>
						<app-select-option
							*ngFor="let dance of linkedDances"
							[value]="dance"
							[test]="dance.name"
						>
						{{dance.name}}
						</app-select-option>
					</app-select> -->
				</td>
				<td>
					<button class="add-row-btn">+</button>
				</td>
			</tr>
		</tfoot>
	</table>
</form>
