@use '../../../styles'
@use '../comp-rules-setup.component'

$cell-left-padding: .25em
$cell-right-padding: 0
$input-border-width: .125em

$input-height: 1.5em - $input-border-width

table
	border-collapse: collapse

td
	padding-bottom: .5em

td:not(:nth-last-child(2))
	width: 90px

td:first-child
	width: unset

th
	text-align: left
	padding-bottom: .5em

td:nth-child(n + 2), th:nth-child(n + 2)
	padding-left: $cell-left-padding

tfoot
	tr
		height: 2.5em
		vertical-align: top

	input
		width: inherit
		vertical-align: top
		border-radius: styles.$rounding-standard
		border-width: $input-border-width
		border-style: solid
		border-color: #767676

	label
		position: absolute
		visibility: hidden

td:nth-last-child(2)
	input
		border-top-right-radius: 2 * styles.$rounding-standard
		border-bottom-right-radius: 2 * styles.$rounding-standard

.to-age-cell
	position: relative

.btn-common, %btn-common
	background-color: styles.$bg-color-menu1
	color: styles.$fg-color-menu-text

	&:hover
		box-shadow: -2px 1px 7px 0px #757575
		color: #edeff3

.add-row-btn
	background-color: styles.$bg-color-menu1
	color: styles.$fg-color-menu-text
	border-radius: styles.$rounding-standard,
	height: $input-height
	width: $input-height
	@extend %btn-common

.to-age-btn
	background-color: styles.$bg-color-menu1
	color: styles.$fg-color-menu-text
	position: absolute
	right: $input-border-width
	top: $input-border-width
	height: $input-height - 2 * $input-border-width
	padding: 0 .25em
	//border-top-right-radius: styles.$rounding-standard
	//border-bottom-right-radius: styles.$rounding-standard
	border-top-left-radius: styles.$rounding-standard
	border-bottom-left-radius: styles.$rounding-standard
	@extend %btn-common


