<h2>Age Groups:</h2>
<form 
	#ageGroupForm="ngForm" 
	(ngSubmit)="onSubmit(ageGroupForm.form)" 
	dsAgeRangeValidator
	autocomplete="off"
>
	<table>
		<thead>
			<tr>
				<th>Group</th>
				<th>From..</th>
				<th>To Years Old</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ageGroup of ageGroups">
				<td>{{ageGroup.name}}</td>
				<td>{{ageGroup.fromAge}}</td>
				<td>{{ageGroup.toAge}}</td>
				<td><button (click)="onRowRemoveClick(ageGroup)" type="button" class="add-row-btn">-</button></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					<label for="name">Group</label>
					<input 
						name="name" 
						ngModel 
						type="text" 
						class="age-group-width"
						#name="ngModel"
						required
					/>
					<div 
						*ngIf="!(name.valid || name.untouched)" 
						class="input-error-label"
					>
							Group is required
					</div>
				</td>
				<td>
					<label for="fromAge">From..</label>
					<input 
					name="fromAge" 
					ngModel 
					type="number" 
					min="0"
					placeholder="0"
					class="age-group-width"
					required>
				</td>
				<td class="to-age-cell">
					<label for="toAge">To Years Old</label>
					<input 
					placeholder="0"
					(ngModelChange)="toAgeOnChange($event, ageGroupForm.form)"
					name="toAge" 
					ngModel 
					type="text" 
					required>
					<button 
						class="to-age-btn" 
						(click)="unboundedAgeClick(ageGroupForm.form)" 
						type="button"
					>
						No Age Limit
					</button>
					<div *ngIf="ageGroupForm.errors?.invalidAgeRange && (ageGroupForm.touched || ageGroupForm.dirty)"
						class="input-error-label"
					>
						Impossible age range
					</div>
				</td>
				<td>
					<button class="add-row-btn">+</button>
				</td>
			</tr>
		</tfoot>
	</table>
</form>