<form 
	[formGroup]="ageGroupFormGroup"
	(ngSubmit)="onSubmit()" 
	autocomplete="off"
>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Group</th>
				<th>From..</th>
				<th>To Years Old</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ageGroup of ageGroups">
				<td>
					<ds-up-down (reorderClick)="reorderClick($event)" 
						[associatedItem]="ageGroup"
						[size]="ageGroups.length"
					>
					</ds-up-down>
				</td>
				<td>{{ageGroup.name}}</td>
				<td>{{ageGroup.fromAge}}</td>
				<td>{{ageGroup.toAge}}</td>
				<td><button (click)="onRowRemoveClick(ageGroup)" type="button" class="add-row-btn">-</button></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td>
					<label for="gname">Group</label>
					<input 
						formControlName="name" 
						type="text" 
						class="age-group-width"
						#firstInput
						required
					/>
					<div 
						*ngIf="name.errors?.required && !(name.valid || name.untouched)" 
						class="input-error-label"
					>Group is required
					</div>
				</td>
				<td>
					<label for="fromAge">From..</label>
					<input 
						formControlName="fromAge" 
						type="number" 
						min="0"
						placeholder="0"
						class="age-group-width"
						required
					>
					<div *ngIf="!(fromAge.valid || fromAge.untouched)">
						<div 
							*ngIf="fromAge.errors?.required" 
							class="input-error-label"
						>From age is required
						</div>
						<div
						*ngIf="fromAge.errors?.min" 
						class="input-error-label"
						>Minimum value is 0
						</div>
					</div>
				</td>
				<td class="to-age-cell">
					<label for="toAge">To Years Old</label>
					<input 
						placeholder="0"
						formControlName="toAge" 
						type="text" 
						required>
					<button 
						class="to-age-btn" 
						(click)="unboundedAgeClick()" 
						type="button"
					>
						No Age Limit
					</button>
					<div 
						*ngIf="toAge.errors?.required && !(toAge.valid || toAge.untouched)" 
						class="input-error-label"
					>To age is required
					</div>
					<div *ngIf="ageGroupFormGroup.errors?.invalidAgeRange && ageGroupFormGroup.touched"
						class="input-error-label"
					>
						Impossible age range
					</div>
				</td>
				<td>
					<button class="add-row-btn">+</button>
				</td>
			</tr>
		</tfoot>
	</table>
</form>