@use '../../../styles'
@use '../comp-rules-setup.component' as pageParent

$cell-left-padding: .25em
$cell-right-padding: 0



td:not(:nth-last-child(2))
	width: 90px

td:first-child
	width: unset

td:nth-child(n + 2), th:nth-child(n + 2)
	padding-left: $cell-left-padding


td:nth-last-child(2)
	input
		border-top-right-radius: 2 * styles.$rounding-standard
		border-bottom-right-radius: 2 * styles.$rounding-standard

.to-age-cell
	position: relative


.to-age-btn
	background-color: styles.$bg-color-menu1
	color: styles.$fg-color-menu-text
	position: absolute
	right: pageParent.$input-border-width
	top: pageParent.$input-border-width
	height: pageParent.$input-height - 2 * pageParent.$input-border-width
	padding: 0 .25em
	//border-top-right-radius: styles.$rounding-standard
	//border-bottom-right-radius: styles.$rounding-standard
	border-top-left-radius: styles.$rounding-standard
	border-bottom-left-radius: styles.$rounding-standard
	@extend %btn-common


