@use '../styles'

.navigation-base
	@extend .size-full
	@extend .bg-gradient
	
.content-base
	background-color: styles.$bg-color-content
	border-radius: styles.$rounding-standard
	min-height: 80%
	padding: 1em

	a
		color: styles.$fg-color-menu-text

		&:visited
			color: styles.$fg-color-menu-text
	

.open-menu-icon
	@extend %icon-base
	background: inherit
	color: styles.$fg-color-icon1



