
<div class="navigation-base">
	<div class="height-icon">
		<button *ngIf="isSmallScreen" 
			class="open-menu-icon" 
			type="button" 
			(click)="menuOpenClick()"
			>
			<svg class="open-menu-icon" viewBox="0 0 24 24">
				<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
			</svg>
		</button>
	</div>
	<app-menu 
		*ngIf="!shouldSmScreenHideMenu" 
		style="background: inherit"
		[routeDescriptions]="routeDescriptions"
		></app-menu>
	<div class="content-base" [style]="contentDivStyle" >
		<router-outlet></router-outlet>
	</div>

</div>
