@use '../styles'

.navigation-base
	@extend .size-full
	@extend .bg-gradient
	
.content-base
	background-color: white
	border-radius: 0.125em
	height: 100%
	padding: 1em
	

.open-menu-icon
	@extend %icon-base
	background: inherit
	color: styles.$fg-color-icon1

