<div *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
	<h1>Copy Previous Competition?</h1>
	<div>
		<label for="compName">Name:</label>
		<input 
			type="text"
			name="compName"
			placeholder="Competition Name:"
			[(ngModel)]="data.name"
		/>
	</div>
	<div>
		<label for="competitionId">Competition to copy:</label>
		<app-select
			name="competitionId"
			[(ngModel)]="data.id"
		>
			Select Competition to copy...
			<app-select-option
				[value]="DEFAULT_COMPETITION"
			>
				Default
			</app-select-option>
			<app-select-option
				[value]="EMPTY_COMPETITION"
			>
				Blank Competition
			</app-select-option>
			<app-select-option
				*ngFor="let competition of options" 
				[value]="competition.id"
			>
				{{getEventName(competition)}}
			</app-select-option>
		</app-select>
	</div>
	<div>
		<mat-form-field>
			<mat-label>Date of competition?</mat-label>
			<input matInput 
				[matDatepicker]="picker" 
			/>
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker touchUi #picker></mat-datepicker>
		</mat-form-field>
	</div>
	<div>
		<button class="add-btn" (click)="onCancel()">Cancel</button>
		<button class="add-btn" [mat-dialog-close]="data">Add Person</button>
	</div>
</div>