<p *ngIf="categories?.length < 1">
	No dance categories have been added. Please add some.
</p>
<p *ngIf="danceChoices?.length < 1">
	No single dances have been added. Please add some.
</p>
<form 
	*ngIf="categories?.length > 0 && danceChoices?.length > 0"
	#multiDanceForm="ngForm" 
	(ngSubmit)="onSubmit(multiDanceForm.form)" 
	autocomplete="off"
>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Category</th>
				<th>Dances</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let dance of dances">
				<td>
					<ds-up-down (reorderClick)="reorderClick($event)" 
						[associatedItem]="dance"
						[size]="dances.length"
					>
					</ds-up-down>
				</td>
				<td>
					{{dance.category.name}}
				</td>
				<td>
					<app-tag-list 
						readonly="true"
						[value]="dance.linkedDances"
					>
					</app-tag-list>
				</td>
				<td>
					<button (click)="onRowRemoveClick(dance)" 
					type="button" 
					class="add-row-btn">-</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td>
					<label for="name">Category</label>
					<app-select
						name="category"
						ngModel
						required
						#category="ngModel"
					>
						<app-select-option test="empty">Select...</app-select-option>
						<app-select-option
							*ngFor="let category of categories" 
							[value]="category"
							[test]="category.name"
						>
							{{category.name}}
						</app-select-option>
					</app-select>
					<div 
						*ngIf="!(category.valid || category.untouched)" 
						class="input-error-label"
					>
						Category is required
					</div>
				</td>
				<td>
					<app-select
						multiple="true"
						ngModel
						required
						name="linkedDances"
						#linkedDances="ngModel"
					>
						<app-select-option
							*ngFor="let dance of danceChoices"
							[value]="dance"
						>
						{{dance.name}}
						</app-select-option>
					</app-select>
					<div 
						*ngIf="!(linkedDances.valid || linkedDances.untouched)" 
						class="input-error-label"
					>
						At least one dance is required
					</div>
				</td>
				<td>
					<button class="add-row-btn">+</button>
				</td>
			</tr>
		</tfoot>
	</table>
</form>