/* You can add global styles to this file, and also import other style files */

$font-stack: Helvetica, sans-serif

$breakpoint-small: 640px
$breakpoint-med: 768px
$breakpoint-large: 1024px
$breakpoint-xl: 1280px

$bg-color-menu1: #6b46c1
$bg-color-menu2: #553c9a

$fg-color-icon1: #2d3748


body
	font: 100% $font-stack
	height: 100vh
	margin: 0

button
	padding: 0
	margin: 0


.bg-gradient
	background: radial-gradient($bg-color-menu1 0%, $bg-color-menu2 70%)

.bg-gradient-topbar
	background: linear-gradient($bg-color-menu1 0%, $bg-color-menu2 50%)

.height-full
	height: 100%

.full-size
	height: 100%
	width: 100%

.height-icon
	height: 1.5rem

.icon-base, %icon-base
	@extend .height-icon
	width: 1.5rem
	outline-style: none
	border-style: none

.width-half
	width: 50%

.width-full
	width: 100%
