/* You can add global styles to this file, and also import other style files */

$font-stack: Helvetica, Arial, sans-serif

$breakpoint-xsmall: 320px
$breakpoint-small: 640px
$breakpoint-med: 768px
$breakpoint-large: 1024px
$breakpoint-xl: 1280px

$default-fg-error-color: #ff0000

$bg-color-menu1: #6b46c1
$bg-color-menu2: #553c9a
$bg-color-content: #f5f9fa
$bg-color-header: #dcdcdc

$fg-color-default-text: #000000
$fg-color-error-text: $default-fg-error-color
$fg-color-icon1: #2d3748
$fg-color-menu-text: #cbd5e0
$fg-color-header: #58585a

$border-color-error: $default-fg-error-color

$gradient-radial-bg: radial-gradient($bg-color-menu1 0%, $bg-color-menu2 70%)
$gradient-linear-bg: linear-gradient($bg-color-menu1 0%, $bg-color-menu2 50%)

$rounding-standard: 0.12em

a
	color: $fg-color-default-text

	&:visted
		color: $fg-color-default-text

	&:hover
		text-shadow: -1px -1px 10px rgb(0,0,0,.2)

html, body, button, p, h1, h2, h3, h4, h5 ,h6, table, form, input, td
	margin: 0
	padding: 0
	border-width: 0


.header-common, %header-common
	color: $fg-color-header
	font-variant-caps: all-small-caps
	letter-spacing: .03em
	font-weight: 400

h1
	@extend %header-common
	font-size: 1.7em
	text-align: center
	margin-bottom: 1em
	border-radius: $rounding-standard

h2
	@extend %header-common
	
html
	font-size: 16px
	height: 100vh

body
	font: 100% $font-stack
	height: 100%

button, input
	font-size: 100%
	line-height: 1

button
	cursor: pointer

	&:focus
		outline-width: 0
p
	margin-bottom: 1em

th
	@extend %header-common

.bg-gradient
	background: $gradient-radial-bg

.bg-gradient-topbar
	background: $gradient-linear-bg

.active-text, %active-text
	text-decoration: none
	font-variant-caps: all-small-caps
	font-size: 1.2em
	letter-spacing: .05em

.add-btn
	@extend %active-text
	background: $gradient-linear-bg
	border-radius: $rounding-standard
	color: $fg-color-menu-text
	padding: .1em .5em

.height-full
	height: 100%

.size-full
	height: 100%
	width: 100%

.size-inherit
	height: inherit
	width: inherit

.height-icon
	height: 1.5rem

.icon-base, %icon-base
	@extend .height-icon
	width: 1.5rem
	outline-style: none
	border-style: none

.input-error-label
	color: $fg-color-error-text
	font-size: .7em

//without the ng-touched, the control is error highlighted by default

.ng-invalid.ng-touched:not(form)
	border-style: solid
	border-color: $border-color-error

.width-half
	width: 50%

.width-full
	width: 100%


