/* You can add global styles to this file, and also import other style files */

$font-stack: Helvetica, sans-serif

$breakpoint-small: 640px
$breakpoint-med: 768px
$breakpoint-large: 1024px
$breakpoint-xl: 1280px

$bg-color-menu1: #6b46c1
$bg-color-menu2: #553c9a

$fg-color-icon1: #2d3748
$fg-color-menu-text: #cbd5e0

html, body, button, p, h1, h2, h3, h4, h5 ,h6
	margin: 0
	padding: 0

h1
	font-variant-caps: all-small-caps
	font-size: 1.5em
	letter-spacing: .08em
	text-align: center

html
	font-size: 16px

body
	font: 100% $font-stack
	height: 100vh





.bg-gradient
	background: radial-gradient($bg-color-menu1 0%, $bg-color-menu2 70%)

.bg-gradient-topbar
	background: linear-gradient($bg-color-menu1 0%, $bg-color-menu2 50%)

.height-full
	height: 100%


.size-full
	height: 100%
	width: 100%


.size-inherit
	height: inherit
	width: inherit

.height-icon
	height: 1.5rem

.icon-base, %icon-base
	@extend .height-icon
	width: 1.5rem
	outline-style: none
	border-style: none

.width-half
	width: 50%

.width-full
	width: 100%
